:root {
  --bg: #ffffff;
  --card: #f0f0f0;
  --text: #171717;
  --muted: #666666;
  --brand: #39FF14;
  --cta: #FFC700;

  --background: var(--bg);
  --foreground: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0a0a0a;
    --card: #1E1E1E;
    --text: #ffffff;
    --muted: #B3B3B3;

    --background: var(--bg);
    --foreground: var(--text);
  }

  html {
    color-scheme: dark;
  }
}

html,
body,
#__next {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

input,
button {
  padding: 10px 12px;
  font-size: 15px;
  border-radius: 8px;
  border: 0;
  outline: none;
}

button {
  cursor: pointer;
  background-color: var(--cta);
  color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
